ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.l-item {
  box-shadow: 0.1em 0.3em silver;
  border-radius: 0.5em;
  padding: 0.2em;
  margin: 0.5em;
  border: 4px solid;
  background-color: white;
}

.l-marker {
  color: white;
  background-color: rgb(42, 42, 42);
  border-radius: 0.5em;
  margin: 2px;
  padding: 3px;
  font-size: smaller;
}

.card-header {
  padding: 0.2em;
}

.card-body {
  padding: 0.3em;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}
.scrollBar::-webkit-scrollbar {
  width: 6px;
}

.scrollBar::-webkit-scrollbar-track-piece {
  background: #ccc;
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
}
.scrollBar::-webkit-scrollbar-thumb {
  background: #c5c6c7;
  border-radius: 8px;
}

#importantInformation {
  position: fixed;
  width: 500px;
  height: 300;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  z-index: 9999;
  border: 5px solid black;
}
