ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.l-item {
  box-shadow: 0.1em 0.3em silver;
  border-radius: 0.5em;
  padding: 0.2em;
  margin: 0.5em;
  border: 4px solid;
  background-color: white;
}

.l-marker {
  color: white;
  background-color: rgb(42, 42, 42);
  border-radius: 0.5em;
  margin: 2px;
  padding: 3px;
  font-size: smaller;
}
